html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dashboard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 12px;
}
.dashboard section {
  margin: 1rem;
}
.dashboard .title {
  text-align: center;
}
.dashboard .filters {
  display: flex;
  align-self: center;
  gap: 3rem;
}
.dashboard .data {
  display: flex;
  flex-direction: column;
}
.data div {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.data .data_count {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.4px solid gray;
  border-radius: 10px;
  box-shadow: 3px 3px 8px 0px;
  padding: 1rem;
  width: 25%;
}
.data_count span:first-child {
  margin-bottom: 0.5rem;
}
.data_count span:nth-child(2) {
  font-weight: bold;
}

select {
  max-width: 15rem;
  min-width: 15rem;
  font-weight: bold;
  appearance: none;
  width: 100%;
  font-size: 0.8rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}
.chart-data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 1rem 1rem 1rem !important;
}
.chart-data div {
  width: 46%;
  height: 46%;
}
